.sudokuBoard td{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, sans-serif;
} 

.sudokuBoard{
    display: flex;
    flex-wrap: wrap;
}

.sudokuSubtableContainer {
    width: 800px;
    display: flex;

}

#sudokuSubTable {
    padding: 5px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    margin: 5px;
}

.sudokuInput {
    width: 60px;
    height: 60px;
    padding: 0px;
    border: 0px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, sans-serif;
    background-color: transparent;
}

.cellWarning {
    background-color: rgb(255, 229, 111);
}

.cellMistake {
    background-color: rgb(255, 188, 111);
}

.cellMissingValue {
    background-color: rgb(255, 186, 186);
}